<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="WorkingDirectory" value="c:\temp\Hoppla.Deployer.Agent\workingDirectory" />
    <add key="SMTP" value="local" />
    <add key="UseFakes" value="true" />
    <add key="LogFilePath" value="c:\temp\Hoppla.Deployer.Agent\logs"/>
    <add key="ReportEmailFromAdress" value="you@yourcompany.com"/>
    <add key="ReportEmailRecipientAdress" value="someone@yourcompany.com;someoneelse@yourcompany.com"/>
  </appSettings>
</configuration>
